@model NewWebApp.Models.Book

@{
    ViewBag.Title = "BookAdd";
}


<h2>Add A Book to your Collection</h2>

@using (Html.BeginForm("AddBook", "Books"))
{
    @Html.ValidationSummary(true)


    <fieldset>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {

            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Genre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre)
        </div
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Back Home", "Index")
</div>



