@model IEnumerable<NewWebApp.Models.Book>

@{
    ViewData["Title"] = "Books Page";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>

</div>



<div><b>Welcome to the Company!</b><br /></div>
<p>
    @Html.ActionLink("Add Book", "AddBook", "Books")
</p>
<table class="table table-bordered table-responsive table-hover">
    @*//give me the display name for each header
        // DisplayNameFor = column
    *@

    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Year)</th>
        <th>@Html.DisplayNameFor(model => model.Genre)</th>
    </tr>
    @*list out each employee on new row*@
    @foreach (var item in Model)
    {
        @*//give me the display name for each header
            // DisplayName = value
        *@
<tr>
    <td>@Html.DisplayFor(modelItem => item.Title)</td>
    <td>@Html.DisplayFor(modelItem => item.Author)</td>
    <td>@Html.DisplayFor(modelItem => item.Year)</td>
    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
   
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id = item.PrimaryKey*/})
        @Html.ActionLink("Details", "Details", new { /* id = item.PrimaryKey*/})
        @using (Html.BeginForm("DeleteUser", "User", new { id = item.Id }))
        {
            @Html.ActionLink("Delete", "DeleteUser", "User", new { id = item.Id })
        }
    </td>

</tr>

    }
</table>

